<h2>Sign Up</h2>
	<%= form_for :user do |f| %>
		<div class="frow">
		<%= f.label :name %>
      		<%= f.text_field :name, :size => 20, :maxlength => 40 %>
		</div>
		<div class="frow">
		<%= f.label :email %>
      		<%= f.text_field :email, :size => 30, :maxlength => 50 %>
		</div>
		<div class="frow">
      		<%= f.label :password %>
      		<%= f.password_field :password, :size => 10, :maxlength => 40 %>
		</div>
		<div class="frow">
		<%= submit_tag "Sign Up", :class => "submit" %>
		</div>
	<% end %>
